{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block head_title %}
{{letter.edrms_id|upper}}
{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-5 mx-auto mt-5 border p-5 rounded-4 border-danger"
            style="height: fit-content;">
            <h1 class="text-center">{{letter.edrms_id|upper}}</h1>
            <hr>
            <div class="d-flex justify-content-between small">
                <span class="text-muted">d: {{letter.dated}}</span>
                <span>r: {{letter.received}}</span>
            </div>
            <hr>
            <div class="">
                <span>f: {{letter.rec_from}}</span><br>
                <span>t: {{letter.to}}</span><br>
                <span>
                    cc:
                    {% for cp in letter.copied.all %}
                    {% if forloop.last %}
                    {{cp}};
                    {% else %}
                    {{cp}},
                    {% endif %}
                    {% endfor %}
                </span>
            </div>
            <hr>
            <span>{{letter.subject}}</span>
            <hr>
            <div class="text-end">
                <a class="btn btn-dark px-5 rounded-4 px-4"
                    href="{{letter.get_update_url}}">Edit</a>
            </div>
        </div>
        <div class="col-lg-5 mx-auto mt-5 border p-5 rounded-4 border-danger">
            <h1 class="text-center">Comments</h1>
            <hr>
            <form action="{% url 'add-comment' letter.slug %}"
                method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{comment_form|crispy}}
                </div>
                <div class="modal-footer">
                    <button type="submit"
                        class="btn btn-sm btn-dark px-5 rounded-4 px-4">Submit</button>
                </div>
            </form>
            <hr>
            <div class="p-3 rounded-4 mt-3"
                style="height: 20rem;overflow-y:scroll;">
                {% for comment in letter.letter_comments.all %}
                <div>
                    <div class="d-flex">
                        <span> {{comment.comment}}</span>
                        <a href="{% url 'update-comment' comment.pk %}"><span
                                class="material-symbols-outlined ms-2">
                                edit
                            </span>
                        </a>
                    </div>
                    <div class="text-end small">
                        <span
                            class="text-muted small">{{comment.created}}</span>
                    </div>
                    <hr>
                </div>
                {% empty %}
                <p class="text-center">No comments</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $(".form-control").addClass("form-control-sm rounded-4");
    $(".form-select").addClass("form-control-sm rounded-4");
</script>
{% endblock content %}