{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}
Correspondence
{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="d-lg-flex d-md-flex justify-content-between">
        <div class="me-md-4 px-3 pt-3 col-lg-3 rounded-4 small border border-dark mt-5"
            style="height: fit-content;">
            <form action="{% url 'letter-create' %}"
                method="post">
                {% csrf_token %}
                <!-- {{form|crispy}} -->
                <div class="row">
                    <div class="col-lg-12">
                        {{ form.edrms_id|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form.subject|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form.dated|as_crispy_field }}
                    </div>
                    <div class="col-lg-6">
                        {{ form.received|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form.rec_from|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form.to|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        {{ form.copied|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form.action|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <div class="d-grid">
                    <button class="btn btn-dark"
                        type="submit">Submit</button>
                </div>
            </form><br>
            <div class="d-flex justify-content-evenly"><a
                    class="text-dark small"
                    href="{% url 'action-create' %}"><span
                        class="material-symbols-outlined">
                        select_check_box
                    </span></a>
                <a class="text-dark small"
                    href="{% url 'correspondence-create' %}"><span
                        class="material-symbols-outlined">
                        person_add
                    </span></a>
            </div>
            <br>
        </div>
        <div class="col-lg-6 mx-auto my-5"
            style="height: 45rem;overflow-y:scroll;">
            <div class="col-lg-8 mx-auto my-4">
                <form action=""
                    method="get">
                    <input class="form-control rounded-pill"
                        type="search"
                        name="letters"
                        id="id_letters_search"
                        placeholder="Search correspondence">
                </form>
            </div>
            {% for letter in letters %}
            <div class="col-lg-8 mb-4 mx-auto p-3 rounded-4 border-dark border"
                style="background-color: pink;">
                <div
                    class="card-header d-flex justify-content-between small border-danger">
                    <span title="dated"
                        class="small text-muted">{{letter.dated}}</span>
                    <span title="received"
                        class="small">{{letter.received}}</span>
                </div>
                <div class="">
                    <p title="EDRMS ID"
                        class="card-title"><a class="text-dark"
                            href="{{letter.get_absolute_url}}">{{letter.edrms_id|upper}}</a>
                    </p>
                    <span class="card-text">
                        {{letter.subject|truncatechars:80 }}</span>
                    <div class="text-end">
                        <a class="text-dark"
                            href="{{letter.get_absolute_url}}">
                            Details
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center h2">Nothing</p>
            {% endfor %}
        </div>
    </div>
</div>


<script>
    $("#id_rec_from").select2();
    $("#id_to").select2();
    $("#id_copied").select2();
    $(".form-control").addClass("form-control-sm rounded-4");
    $(".form-select").addClass("form-control-sm rounded-4");
</script>
{% endblock content %}