{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}
Correspondence
{% endblock head_title %}

{% block content %}
<div class="p-5">
    <div class="col-lg-6 mx-auto">
        <form action=""
            method="get">
            <input class="form-control rounded-pill py-3 border-3 border"
                type="search"
                name="letters"
                id="id_letters_search"
                placeholder="Search">
        </form>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <div class="mx-5 px-5 py-3 shadow rounded-4 col-lg-4"
            style="height: fit-content;">
            <h1>Form</h1>
            <hr>
            <form action="{% url 'letter-create' %}"
                method="post">
                {% csrf_token %}
                {{form|crispy}}
                <div class="d-grid">
                    <button class="btn btn-outline-dark"
                        type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            {% for letter in letters %}
            <div class="p-5 mb-3 rounded-4 border border-2 shadow">
                <p class="p-0 m-0 small text=muted text-end mx-3">Rec'd:
                    {{letter.date_received}}
                </p>
                <hr>
                <p><a class="text-dark h4"
                    href="{% url 'letter-detail' letter.edrms_id %}">EDRMS ID:
                    {{letter}}</a></p>
                <p>Dated: <br>{{letter.date_on_doc}}</p>
                <p>Subject: <br>{{letter.subject}}</p>
                <p>From: <br>{{letter.rec_from}}</p>
                <p>To: <br>{{letter.sent_to}}</p>
                <p>Cc'ed': <br> {% for cc in letter.copied_to.all %}
                    <span>{% if forloop.last %} {{cc}}. {% else %} {{cc}};
                        {% endif %}</span>
                    {% endfor%}
                </p>
                <p>Action: <br>{{letter.action}}</p>
                <hr>
                <div class="d-flex justify-content-start">
                    <p>Last comment: </p><a title="add comment"
                        class="text-dark"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{letter.pk}}"
                        href="#"><span class="material-symbols-outlined mx-3">
                            add_circle
                        </span></a>
                </div>
                
                {% if  letter.letter_comments.first %}
                <div class="mx-3 bg-secondary bg-opacity-50 rounded-4 p-3 col-lg-8 mx-auto shadow" >
                    <p class="">
                {{letter.letter_comments.first.comment}}
                    </p>
                    <div class="text-end">
                    <small class="text-muted small mx-2">
                        {{letter.letter_comments.first.created|naturaltime}}</small>
                </div>
                </div>
                {% endif %}
                    
               
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- <div class="col shadow p-3 rounded-4 table-responsive me-2">
            <table class="table table-sm small table-hover table-secondary">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">EDRMS ID</th>
                        <th scope="col">Received</th>
                        <th scope="col">Received from</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Add comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for letter in letters %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a title="{{letter.edrms_id}}"
                                href="{% url 'letter-detail' letter.edrms_id %}">{{letter.edrms_id|slice:'-8:'}}</a>
                        </td>
                        <td>{{letter.date_received}}</td>
                        <td title="{{letter.rec_from}}">
                            {{letter.rec_from|truncatechars:50}}
                        </td>
                        <td title="{{letter.subject}}">
                            {{letter.subject|truncatechars:50}}</td>
                        <td class="text-center"><a title="add comment"
                                class="text-dark"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{letter.pk}}"
                                href="#"><span
                                    class="material-symbols-outlined">
                                    add_circle
                                </span></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> -->



{% for letter in letters %}

<!-- Modal -->
<div class="modal fade"
    id="exampleModal{{letter.pk}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModalLabel">Add comment</h1>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form action="{% url 'add-comment' letter.pk %}"
                method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{comment_form|crispy}}
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="submit"
                        class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endfor %}

<script>
    $("#id_rec_from").select2();
    $("#id_sent_to").select2();
    $("#id_copied_to").select2();
</script>
{% endblock content %}